<h1> Create New Figure </h1>

<form action="/figures" method="post">

  <lable>Name</lable>
  <input type="text" name="figure[name]" id="figure_name">

  <h2><lable>Titles</lable></h2>
  <% Title.all.each do |title| %>
  <input type="checkbox" name="figure[title]" id="figure_title"><%= title.name %>
  <% end %>

  <h2><lable>Create New Title</lable></h2>
  <input type="text" name="figure[title]" id="figure_title">

  <h2><lable>Landmarks</lable></h2>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="figure[landmark]" id="figure_landmark"><%= landmark.name %>
  <% end %>

  <h2><lable>Create New Landmark</lable></h2>
  <input type="text" name="figure[landmark]" id="figure_landmark">

  <input type="submit" value="Create New Figure">


</form>
