<h1> Create New Figure </h1>

<form action="/figures" method="post">

  <lable>Name</lable>
  <input type="text" name="figure[name]" id="figure_name">

  <h2>Titles</h2>
  <ol>
  <% Title.all.each do |title| %>
  <li><%= title.name %>
  <% end %>
  </ol>



</form>
